{% extends 'base.html' %}
{%load crispy_forms_tags %}
{% block title %}Create Category{% endblock %}

{% block content %}

<div class="content">
    <div style="background-color:transparent;" class="row  justify-content-center ">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10  text-light">
            <form method="POST" enctype="multipart/form-data">


                <div class="row P-5 m-3 justify-content-center">
                    <label
                        style=" font-family: Tahoma; font-size: 30px; font-style: oblique; font-variant: normal; font-weight: bold; letter-spacing: 15px;">CATEGORY</label>

                </div>

                {{form.name|as_crispy_field}}<br>
                {{form.slug|as_crispy_field}}



                <br><br>

                <button class="btn btn-danger form-control" type="submit" value="submit">Submit</button>

                {% csrf_token %}
            </form>

        </div>
    </div>
</div>
{% endblock %}