{% extends 'base.html' %}

{% block title %}library{% endblock %}

{% block content %}

<div class="content">
    <div class="row justify-content-center mb-4 text-center">

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">


        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="">


                <form method="get" action=".">
                    <div class="flex ml-1">
                        <input type="text" name="query" class=" bg-gray-100 border-0">
                        <button class="p-2 bg-gray-100 border-0">
                            search
                        </button>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">

            <h1 style="color: white;background-color: red;width: 80%;font-size: 30px;font-weight: 700;">
                Total books :
                {{book_count}}</h1>

        </div>

        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="dropdown">
                <button style="color:red;background:#ededed;" class=" btn btn-primary dropdown-toggle" type="button"
                    id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton2">
                    <li><a href="{% url 'library' %}"
                            class="{% if not active_category %}text-purple-500{% else %}text-gray-500{% endif %}">All
                            categories</a></li>
                    {% for category in categories %}
                    <li><a href="{% url 'library' %}?category={{ category.slug }}"
                            class="{% if category.slug == active_category %}text-purple-500{% else %}text-gray-500{% endif %}">{{category.name}}</a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>


    </div>


    <div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">

        <div class="books row">
            {% for book in books %}
            {% include 'partials/book_list.html' %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}