<div class="card col-xl-3 col-lg-3 col-md-3 col-sm-10 col-xs-10 p-3 m-3 text-black">

    <a href="{% url 'book' book.slug %}">
        <img style="margin-left:10%" src="{{ book.image.url }}" width="80%" height="80%" class="rounded-xl img-fluid">
    </a>
    <div class="card-body">

        <div>
            <div class="text-center">
                <span class="text-xl badge bg-danger">{{book.name}}</span>
            </div><br>
            <div class="text-center">
                <span class="text-md badge bg-primary">Author : {{book.author}}</span>
            </div><br>


        </div>

        {% if user.is_authenticated %}
        <div class="row mt-3">
            <div class="col-4">
                <a class="btn btn-success" href="{% url 'update_book' book.id %}">Update</a>
            </div>

            <div class="col-4">
                <a class="btn btn-primary" href="{% url 'book' book.slug %}">View</a>
            </div>



            <div class="col-4">
                <a class="btn btn-danger" href="/delete_book/{{book.id}}">Delete</a>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-center">
            <div class="col-4">
                <a class="btn btn-primary" href="{% url 'book' book.slug %}">View</a>
            </div>
        </div>
        {% endif %}

    </div>
</div>